<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mealplannerapp">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NutritPatients"></activity>
        <activity android:name=".NutritProfile" />
        <activity android:name=".NutritHomePage" />
        <activity android:name=".MealRecipeView" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity android:name=".CurrentMealPlan" />
        <activity android:name=".ViewCurrentShopList" />
        <activity android:name=".ShoppingHomePage" />
        <activity
            android:name=".ShoppingList"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MealPlanPage" />
        <activity android:name=".UserProfile" />
        <activity android:name=".UserHomePage" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginScreen" />
        <activity android:name=".LoginAndRegister" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>